

<div {{attributes.addClass('lightbox-gallery') }}>
    <div class="lightbox-gallery-row">
        {% for row in rows %}
            <div class="image-block">
                <div class="image-block-data">
                    {{ row }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="lightbox-gallery-modal" id="lightBoxGallery">
    <div class="lightbox-gallery-modal-header">
        <a href="" class="gallery-close-icon"></a>
    </div>
    <div class="lightbox-gallery-modal-body">
        <div class="lightbox-gallery-left gallery-clearfix">
            
        </div>
        <div class="lightbox-gallery-right gallery-clearfix">
            <div class="lightbox-gallery-title">
                
            </div>
            <div class="lightbox-gallery-button">
                
            </div>
        </div>
    </div>
    <div class="lightbox-gallery-modal-footer">
        
    </div>
    <div class="lightbox-gallery-controls">
        <div class="left-control">
            <a href=""> &#8249; </a>
        </div>
        <div class="right-control">
            <a href=""> &#8250; </a>
        </div>

    </div>
</div>
    

